<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>People say I'm very decent.</h1>
        <p class="text-muted">
            Confession: I'm only half-decent :D
        </p>

        <p>
            Well, in this extremely rare case, I can either be honest or decent. Since I value honesty more than any
            other trait, let's go with honesty, shall we?
        </p>
        <p>
            I really really really (insert a few more reallys here) wish you'll never visit this page,
            but alas! this world is not a wish-granting factory, you see. If you do visit this page, here are the
            choices again:
        </p>
    </div>

    <!-- Choices -->
    <div class="col-md-4">
        <a href="honesty.html" class="btn btn-primary btn-block btn-lg" role="button">
            You changed my mind. Go on!
        </a>
    </div>

    <div class="col-md-offset-4 col-md-4">
        <a href="to-not-compleley-waste-your-time.html" class="btn btn-primary btn-block btn-lg" role="button">
            Ignorance is bliss, my poor admirer!
        </a>
    </div>
</div>
</body>
</html>

