<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div id="honest-page" class="container">
    <div class="jumbotron">
        <h1>Perfect Choice!</h1>
        <p class="text-muted">one more reason to like you! <3</p>
        <p>You're a clever girl, by now you know what this is all about.</p>
        <p class="text-muted">Remeber that you can always get up and walk away, and it's totally fine.</p>
    </div>

    <div class="jumbotron">
        <h1>Still haven't walked away?!</h1>
        <h2> Nin karma, I can't help you :P</h2>
        <h2>Okay, time to choose!</h2>
        <p class="text-muted">Life is all about choices, you see :P</p>
    </div>

    <div class="col-md-4">
        <a href="you've-got-my-attention.html" class="btn btn-primary btn-block btn-lg" role="button">You've got my attention!</a>
    </div>

    <div class="col-md-offset-4 col-md-4">
        <a href="to-not-compleley-waste-your-time.html" class="btn btn-primary btn-block btn-lg" role="button">Ain't happening!</a>
    </div>
</div>
</body>
</html>