<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>I know, I know :D</h1>
        <p>But if you were aware of the speed at which my heart races when you walk past me, you'd say it's so late.
        I don't want to die of 'death-due-to-heart-overspeed-while-you-look-at-me' disease, you see.</p>
    </div>
</div>
</body>
</html>

