<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 style="margin-bottom: 1em;">To not completely waste your time, here is something nice to watch!</h1>
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/XSZHjIWX6qY?ecver=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>