<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>You've come this far, let me just say it -- I like you!</h1>
        <p class="text-muted">
            Thaleli pataaki hoditidave :D
        </p>
        <p>
            'I like you' is nowhere close to describe the intensity of the emotions I feel for you - words fail to explain why
            I feel butterflies in my tummy when I think of you, or why I soo-oo want to get lost in your world. okay, I give up.
            I'm not the first to try and fail in this glorious quest to translate emotions into words.
        </p>
        <p>
            The gist is -- I soo-oo want to get lost in your silence. And I've no idea why. It's just there, inside me. Waiting.
        </p>
    </div>

    <div id="judgement-page">
        <!-- flowers and sunshine section -->

        <div>
            <h1>Flowers and Sunshine Zone</h1>
            <hr>

            <!-- Choices -->
            <div class="row">
                <div class="col-md-6">
                    <a href="i-like-you-too.html" class="btn btn-primary btn-block btn-lg" role="button">
                        Cut the crap, I like you too!!
                    </a>
                </div>
            </div>
        </div>

        <!-- I don't know what to do section -->

        <div class="margin-top-200">
            <h1>The Pendulum Zone</h1>
            <hr>

            <!-- Choices -->
            <div class="row">
                <div class="col-md-6">
                    <a href="so-soon.html" class="btn btn-primary btn-block btn-lg" role="button">
                        So Soon?!
                    </a>
                </div>
            </div>

            <!-- Boyfriend / crush section-->
            <div class="row margin-top-200">
                <div class="col-md-6">
                    <a href="didn't-know-that.html" class="btn btn-primary btn-block btn-lg" role="button">
                        You're too late. I already have a boyfriend/crush :(
                    </a>
                </div>
            </div>

            <!-- arranged marriage section -->
            <div class="row margin-top-200">
                <div class="col-md-6">
                    <a href="didn't-know-that.html" class="btn btn-primary btn-block btn-lg" role="button">
                        No offence, but I want an arranged marriage
                    </a>
                </div>
            </div>

            <!-- I just don't feel it-->

            <div class="row margin-top-200">
                <div class="col-md-6">
                    <a href="to-not-compleley-waste-your-time.html" class="btn btn-primary btn-block btn-lg" role="button">
                        I don't know why, but I just don't feel it.
                    </a>
                </div>
            </div>
        </div>

        <!-- Danger section -->

        <div class="danger">
            <h1>The Danger Zone</h1>
            <hr>

            <!-- bro-zone -->
            <div class="row margin-top-200">
                <div class="col-md-6">
                    <a href="bro-zone.html" class="btn btn-danger btn-block btn-lg" role="button">
                        Bro-Zone
                    </a>
                </div>
            </div>

            <!-- friend-zone -->
            <div class="row margin-top-200">
                <div class="col-md-6">
                    <a href="friend-zone.html" class="btn btn-danger btn-block btn-lg" role="button">
                        Friend-Zone
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>

